.item img // {{{
  height: auto
  max-width: 100%

  [data-page-content='list'] &
    display: none
// }}}

.item > .title // {{{
  color: $bold-color
  font-size: 30px
  font-weight: bold
  line-height: normal

  [data-orientation='landscape'] &
    padding: 40px 90px

  [data-orientation='landscape'] .page-content[data-page-content='list'] &
    font-size: 24px
    padding: 12px 20px

  [data-orientation='portrait'] &
    padding: 20px

  [data-orientation='portrait'] .page-content[data-page-content='list'] &
    font-size: 20px
    padding: 12px 20px
    pointer-events: none
// }}}

.item > .date
  background-color: $gray-color
  color: $text-color
  font-size: 12px
  line-height: 30px

  > span
    color: $sub-color
    font-weight: bold

    [data-orientation='landscape'] &
      margin: 0 20 0 90

    [data-orientation='landscape'] .page-content[data-page-content='list'] &
      margin: 20px

    [data-orientation='portrait'] &
      margin: 20px

.item > p // {{{
  line-height: 1.8
  white-space: pre-line

  [data-orientation='landscape'] &
    margin: 0 90 50 90

  [data-orientation='portrait'] &
    margin: 0 20 50 20

  [data-page-content='list'] &
    display: none
// }}}

.label
  cursor: pointer
  [data-orientation="landscape"] &
    margin-right: 20px

  [data-orientation="portrait"] &
    white-space: nowrap
    margin: 0 0 0 20px

  [data-page-content=""] &
    display: none

  &:hover
    color: $primary-color

.back
  align-items: center
  cursor: pointer
  display: flex
  font-size: 18px
  font-weight: bold
  margin-left: 20px

  [data-page-content = list] &
    display: none

////////////////////////
// pages

[data-page-id='landing'] // {{{
  align-items: center
  display: flex
  justify-content: center

  h1
    box-sizing: border-box
    color: white
    font-weight: bold
    letter-spacing: -1px

    [data-orientation='landscape'] &
      font-size: 48px
      text-shadow: 2px 2px 10px rgb(0, 0, 0)

      .sub
        font-size: 36px
        font-weight: 400

    [data-orientation='portrait'] &
      font-size: 40px
      padding: 0 20px

      .sub
        font-size: 24px
        font-weight: normal
// }}}

[data-page='faculty'] // {{{

  &[data-status="member"]
    #group
      opacity: 0
      pointer-events: none

  &[data-status="group"]

    .overview
      opacity: 1

      [data-orientation='portrait'] &
        box-sizing: border-box
// }}}

[data-orientation='portrait'][data-page='faculty'] .page-content
  display: flex
  flex-wrap: wrap
  padding: 7vw 0

.group
  +vertical-center(inline-flex)
  background: $primary-color
  box-sizing: border-box
  color: $dark-color
  cursor: pointer
  margin: .5px
  opacity: 1
  overflow: hidden
  transition: background-color $short-term ease-in-out
  &:hover
    background-color: #c5c134

  [data-orientation='landscape'] &
    font-size: 24px
    height: calc( 100%/3 - 1px)
    width: calc(100%/3 - 1px)

  [data-orientation='portrait'] &
    font-size: 8vw
    height: 6em
    line-height: 1.2
    margin: .5em auto
    padding: .5em
    width: 80%

    &:first-child
      margin-top: 0

  img
    display: none

/////////////file style
.docx, .pdf, .mp3
  align-items: center
  border: 1px solid #DAE0E5
  border-radius: 3px
  box-sizing: border-box
  display: inline-flex
  margin: 0 5 5 0
  height: 40px
  padding: 0 15px 0 0

  span
    font-weight: bold
    margin: 0 15px

  a
    color: $dark-color

  &:hover
    background: #f1f3f1

  [data-orientation='landscape'] &
    font-size: 14px

  [data-orientation='portrait'] &
    font-size: 12px

.file
  border-top: 1px solid $gray-color
  border-bottom: 1px solid $gray-color
  font-size: 12px

  [data-orientation='landscape'] &
    margin: 0 90px

  [data-orientation='portrait'] &
    margin: 20px

  [data-page-content='list'] &
    border: none
    margin: 0 20px

    > div:first-child
      display: none

  > div:first-child
    padding: 20px 0

  > div:last-child
    margin: 0 5 20 0

span
    .docx &
      color: #03a9f4

    .pdf &
      color: #d50000

    .mp3 &
      color: #ff9100
