html
  head
    link(href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet")
    link(href="./app.css" rel="stylesheet")
    link(href="https://i.imgur.com/gtvXxbV.png" rel="icon")
    meta(content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width" name="viewport")
    title NCKU EE
  body(data-orientation="landscape" data-page="landing")
    a#logo #[i.fas.fa-home]NCKUEE
    #menu
      a(href="#landing") Home
      a(href="#news") News#[span.extend  & Events]
      //a(href="#course") Courses
      a(href="#faculty") Faculty#[span.extend  & Research]
      //a(href="#scholarship") Scholarship
      //a(href="#upload") Upload
    #page

      // {{{ landing
      .page(data-page-id="landing")
        h1 National Cheng Kung University#[br]#[.sub Department of Electronic Engineering]
      // }}}

      // {{{ news
      .page(data-page-id="news")
        .page-info
          .title NEWS#[br] & EVENTS
        .page-content(data-page-content="list")
          .selector
            div 篩選
            .label #講座資訊
            .label #活動公告
            .label #其它
            .back: a(href="#news") &#10094; 文章列表
          #news
          script(type="x-tmpl-mustache")
            |{{#news}}
            .item(id=`news-{{index}}`)
              .date #[span 講座資訊]{{date}}
              .title {{title}}
              p {{{content}}}
            |{{/news}}
      // }}} news

      // {{{ course
      .page(data-page-id="course")
        .page-info
          span.title OUR#[span.extend COURES]
      // }}} course
      // {{{ faculty
      .page(data-page-id="faculty")
        .page-info
          .title FACULTY#[br] & RESEARCH
        .page-content
          .group Instrument System and Chip
          .group VLSI/CAD
          .group Microelectronic
          .group CSIS
          .group Communication and Network
          .group Power
          .group Control
          .group Material
          .group Nano
      // }}} faculty
    script(src="./app.js")

// vi:et
