html
  head
    script(src="https://d3js.org/d3.v4.js")
    link(rel='stylesheet' href='./app.css' )
    link(rel='icon' href='http://i.imgur.com/HXMns6K.png')
    meta(content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width" name="viewport")
    title NCKU EE
  body(data-page="landing" data-orientation="landscape")
    a#logo E
    #menu
      a(href='#landing') Home
      a(href='#news') News #[span.extend &  Events]
      //a(href='#course') Courses
      a(href='#faculty') Faculty #[span.extend  & Research]
      //a(href='#scholarship') Scholarship
      //a(href='#upload') Upload
    #main
      .page(data-page-id="landing")
        .theme National Cheng Kung University#[br]Electronic Engineering
        .watermark ELECTRONIC
      // {{{ news
      .page(data-page-id="news")
        .page-info
          .theme NEWS#[span.extend  & EVENTS]
          .description Vivamus molestie dui vel varius auctor. Mauris interdum, libero ut efficitur gravida, orci lectus eleifend erat, nec pellentesque massa odio at nulla. Cras id pharetra orci, lacinia aliquet metus.
          .watermark ACTIVITIES
        .page-content#announcement(data-page-content="list")
          //a.item(href='#news-1')
            .title #[i.fa.fa-trophy] I DON'T WANT TO MISS A THING
            .date DEC 23,2017
            p I could stay awake just to hear you breathing Watch you smile while you are sleeping While far away and dreaming I could spend my life in this #[img.size-small(align='left' src='http://i.imgur.com/f4u6ztF.jpg')]sweet surrender I could stay lost in this moment forever Every moment I spend with you is a moment I treasure Don't want to close my eyes Don't want to fall asleep 'Cuz I'd miss you baby And I don't wanna miss a thing 'Cuz even when I dream of you The sweetest dream would never do I'd still miss you baby
          //a.item(href='#news-2')
            .title #[i.fa.fa-handshake-o] WE DON'T TALK ANYMORE 
            .date JULY 18,2017
            p We don't talk anymore, we don't talk anymore We don't talk anymore, like we used to do We don't love anymore What was all of it for? Oh, we don't talk anymore, like we used to do I just heard you found the one you been looking You been looking for I wish I would have known that wasn't me Cause e#[img.size-normal(align='middle' src='http://i.imgur.com/f4u6ztF.jpg')]ven after all this time I still wonder Why I can't move on Just the way you did so easily Don't wanna know What kind of dress you're wearing tonight If he's holding onto you so tight The way I did before I overdosed Should've known your love was a game Now I can't get you out of my brain Oh, it's such a shame
          //a.item(href='#news-3')
            .title #[i.fa.fa-money] BURNING IN THE SKY
            .date May 05,2017
            p #[img.size-large(align='right' src='http://i.imgur.com/f4u6ztF.jpg')]I used the deadwood to make the fire rise The blood of innocence burning in the skies I filled my cup with the rising of the sea And poured it out in an ocean of debri I'm swimming in the smoke Of bridges I have burned So don't apologize I'm losing what I don't deserve What I don't deserve We held our breath when the clouds began to form But you were lost in the beating of the storm And in the end we were made to be apart In separate chambers of the human heart I'm swimming in the smoke Of bridges I have burned So don't apologize I'm losing what I don't deserve It's in the blackened bones Of bridges I have burned So don't apologize I'm losing what I don't deserve What I don't deserve
          //a.item(href='#news-4')
            .title #[i.fa.fa-newspaper-o] I DON'T WANT TO MISS A THING
            .date APR 4,2017
            p I could stay awake just to hear you breathing Watch you smile while you are sleeping While far away and dreaming I could spend my life in this sweet surrender I could stay lost in this moment forever Every moment I spend with you is a moment I treasure Don't want to close my eyes Don't want to fall asleep 'Cuz I'd miss you baby And I don't wanna miss a thing 'Cuz even when I dream of you The sweetest dream would never do I'd still miss you baby
            img.size-small(align='middle' src='http://i.imgur.com/f4u6ztF.jpg')
          //a.item(href='#news-5')
            .title #[i.fa.fa-flask] I DON'T WANT TO MISS A THING
            .date JAN 1,2017
            p I could stay awake just to hear you breathing Watch you smile while you are sleeping While far away and dreaming I could spend my life in this sweet surrender I could stay lost in this moment forever Every moment I spend with you is a moment I treasure Don't want to close my eyes Don't want to fall asleep 'Cuz I'd miss you baby And I don't wanna miss a thing 'Cuz even when I dream of you The sweetest dream would never do I'd still miss you baby
            img.size-large(align='bottom' src='http://i.imgur.com/f4u6ztF.jpg')
          .return
            a(href='#news')
            i.fa.fa-arrow-circle-left.fa-4x     
      // }}} news
      // {{{ course
      .page(data-page-id="course")
        .page-info
          span.theme OUR#[span.extend COURES]
          span.description Vivamus molestie dui vel varius auctor. Mauris interdum, libero ut efficitur gravida, orci lectus eleifend erat, nec pellentesque massa odio at nulla. Cras id pharetra orci, lacinia aliquet metus.
          .watermark ACTIVITY
      // }}} course
      // {{{ faculty
      .page(data-page-id="faculty")
        .page-info
          span.theme FACULTY#[span.extend  & RESEARCH]
          span.description Vivamus molestie dui vel varius auctor. Mauris interdum, libero ut efficitur gravida, orci lectus eleifend erat, nec pellentesque massa odio at nulla. Cras id pharetra orci, lacinia aliquet metus.
          .watermark RESEARCH
        .page-content
          .group
            span Instrument System and Chip
            img(src="http://i.imgur.com/bZuW6Wg.png")
            img(src="http://i.imgur.com/1Aqs7dn.jpg")
            img(src="http://i.imgur.com/R96DOYq.jpg")
            img(src="http://i.imgur.com/rmteEVS.jpg")
            img(src="http://i.imgur.com/UIkz4hE.jpg")
            img(src="http://i.imgur.com/c3dUin8.jpg")
          .group
            span VLSI/CAD
          .group
            span Microelectronic
          .group
            span CSIS
          .group
            span Communication and Network
          .group
            span Power
          .group
            span Control
          .group
            span Material
          .group
            span Nano
      // }}} faculty
    //script(src='../clamp.js')
    script(src='./app.js')

// vi:et
