html
  head
    link(href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet")
    link(href="./app.css" rel="stylesheet")
    link(href="https://i.imgur.com/gtvXxbV.png" rel="icon")
    meta(content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width" name="viewport")
    title NCKU EE
  body(data-orientation="landscape" data-page="landing")
    a#logo #[i.fas.fa-home]NCKUEE
    #menu
      a(href="#landing") Home
      a(href="#news") News #[span.extend &  Events]
      //a(href="#course") Courses
      a(href="#faculty") Faculty #[span.extend  & Research]
      //a(href="#scholarship") Scholarship
      //a(href="#upload") Upload
    #page
      .page(data-page-id="landing")
        .theme National Cheng Kung University#[br]#[.sub Department of Electronic Engineering]
      // {{{ news
      .page(data-page-id="news")
        .page-info
          .title NEWS#[br] & EVENTS
        #page-content
          .selector
            div 篩選
            .label #講座資訊
            .label #活動公告
            .label #課程資訊
            .label #其它
            .back
              a(href="#news") 〈 文章列表
          .page-content#news(data-page-content="list")
          script(type="x-tmpl-mustache")
            | {{#news}}
            .item(id=`news-{{index}}`)
              .date #[span 講座資訊]{{date}}
              .title {{title}}
              p {{{content}}}
            | {{/news}}
      // }}} news
      // {{{ course
      .page(data-page-id="course")
        .page-info
          span.title OUR#[span.extend COURES]
      // }}} course
      // {{{ faculty
      .page(data-page-id="faculty")
        .page-info
          .title FACULTY#[span.extend  & RESEARCH]
        .page-content
          .group
            span Instrument System and Chip
            //
              img(src="http://i.imgur.com/bZuW6Wg.png")
              img(src="http://i.imgur.com/1Aqs7dn.jpg")
              img(src="http://i.imgur.com/R96DOYq.jpg")
              img(src="http://i.imgur.com/rmteEVS.jpg")
              img(src="http://i.imgur.com/UIkz4hE.jpg")
              img(src="http://i.imgur.com/c3dUin8.jpg")
          .group
            span VLSI/CAD
          .group
            span Microelectronic
          .group
            span CSIS
          .group
            span Communication and Network
          .group
            span Power
          .group
            span Control
          .group
            span Material
          .group
            span Nano
      // }}} faculty
    script(src="./app.js")

// vi:et
